*{
    background-color: #fefbef
}

.logo_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo {
    width: 220px;
    margin: 50px 0;
}

.menu_navbar {
    display: flex;
    justify-content: space-around;
    color: #F05032;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #F05032 ;
}

.menu_navbar p {
    cursor: pointer;
}

.all_sections{
    width: 60%;  
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* BLOG */

.blog h1 {
    text-align: center;
    color: #F05032;
    font-size: 2rem;
}

.blog h2 {
    font-size: 1.5rem;
}


.blog-article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.blog-text-article {
    width: 50%;
}

.blog-img-article {
    width: 50%;
}