* {
  background-color: #fefbef;
}

.logo_container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.logo {
  width: 220px;
  margin: 50px 0;
}

.menu_navbar {
  display: flex;
  justify-content: space-around;
  color: #f05032;
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #f05032;
}

.menu_navbar p {
  cursor: pointer;
}

.all_sections {
  width: 60%;
  margin: 0 auto;
}

.hidden {
    display: none;
}

.inicio-img{
    height: 32rem;
    width: auto;
}
/* BLOG */

.blog h1 {
    text-align: center;
    color: #F05032;
    font-size: 2rem;
}

.blog h2 {
    font-size: 1.5rem;
}


.blog-article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.blog-text-article {
    width: 50%;
}

.blog-img-article {
    width: 50%;
}

/*Quienes somos*/

.about_us {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.about_us__article {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.about_us__first_image {
  grid-row: 2;
  grid-column: 1;
  max-height: 300px;
}

.about__us__second_image {
  grid-row: 2;
  grid-column: 2;
  max-height: 300px;
}